
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/about-styles.css">
</head>


<body>
	<div class="container-fluid">
		<div class="row about-content">

			<!-- LEFT COLUMN -->
			<div class="col about-content-left">
				<div class="container page-height">
					
				</div>

				<div class="container about-section">
					<img class="" src="images/certificate icon.png" width="80" alt="">
					<p>
						<br>Put simply, <br> DataChain allows you to store your certificates in a digital format, 
						ready to be shared with the people of your choice. <br><br> Your certificate could be from a food hygiene course, 
						an online teaching course or even your university degree! 
					</p>
				</div>

				<div class="container about-section">
					<img class="" src="images/userA.svg" width="80" alt="">
					<p>
						<br> There are two types of accounts: <br><br> Accreditor accounts have the ability to award certificates to other users for a small fee of 68p per certificate. <br><br>

						This means as an accreditor you can rest easy knowing that people will be unable to falsely claim they completed a course of yours, whilst giving your customer an easy way to store and share your certificate.  
					</p>
				</div>
			</div>


			<!-- CENTRAL COLUMN -->
			<div class="col about-conent">
				<h1 class="about-content-h1">
					What is DataChain?
				</h1>
			</div>	


			<!-- RIGHT COLUMN -->
			<div class="col about-content-right">
				<div class="container page-height">
					
				</div>

				<div class="container about-section">
					<img class="" src="images/blockchain (1).svg" width="80" alt="">
					<p>
						<br>Every time a certificate is awarded it is saved on the blockchain. This means that whoever views your certificate can trust the fact that it's genuine. <br><br> 
						This is because once a certificate is written to the blockchain that transaction can never be changed or deleted.
					</p>
				</div>

				<div class="container about-section">
					<img class="" src="images/user.svg" width="80" alt="">
					<p>
						<br> User accounts can receive, store and share certificates all completely free of charge. <br><br> This means whilst applying for jobs you can easily share proof of any certificate or professional qualification you may have. This will also give any employer complete trust in the authenticity of your qualifications.
					</p>
				</div>
				
			</div>
		</div>
	</div>
</body>

