h2 {
	padding-top: 30px;
}



input {
  outline: none;
  width: 100%; 
  padding: 12px 20px;
  border: none;
  border-bottom: 2px solid grey;
  font-size: 15px;
}


input:focus {
	border-bottom: 3px solid black;
	background-color: #F8F8F8;
}


select {
  width: 100%;
  padding:  12px 20px;
  border:  none;
  font-size: 17px;
}

body {
  background-color: #FAF9F6;
}




.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  top: 150px;
  /*left: 50px;*/
  position: relative;
  border-radius: 25px;
}


.form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 15px;
  cursor: pointer; 
}



.dropdown {
  display: inline-block;
  position: relative;
  width: 100%;
  padding:  12px 20px;
  border:  none;
  border-bottom: 2px solid grey;
  font-size: 15px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}



.select2 {
  width: 100% !important;
  font-size: 1.2vw !important;
}

.select2-results__option {
  font-size: 0.85vw;
  line-height: 2vw !important;
}

.select2-selection__rendered {
    line-height: 2.5vw !important;
}

.select2-container .select2-selection--single {
    height: 2.5vw !important;
}

.select2-selection__arrow {
    height: 2.5vw !important;
}

.select2-search__field {
  height: 2vw !important;
  font-size: 1.2vw;
}

















@media screen and (min-width: 2000px) {


  .select2 {
    font-size: 15px !important;
  }

  .select2-results__option {
    font-size: 15px !important;
    line-height: 40px !important;
  }

  .select2-selection__rendered {
      line-height: 40px !important;
  }

  .select2-container .select2-selection--single {
      height: 40px !important;
  }

  .select2-selection__arrow {
      height: 40px !important;
  }

  .select2-search__field {
    height: 38px !important;
    font-size: 22px;
  }

}









